/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.job {
    color: #777;
    font-style: italic;
    margin-bottom: 15px;
}

.bio {
    font-size: 14px;
    margin-bottom: 20px;
}

.socials a {
    text-decoration: none;
    color: #3498db;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #1d6fa5;
}