body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background-color: #10e2f1;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #18cff0;
    padding: 8px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.main-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.container {
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product {
    background: rgb(251, 252, 253);
    padding: 15px;
    border: 1px solid #585555;
    flex: 1;
    text-align: center;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.subscribe-form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.subscribe-form input[type="Email"] {
    padding: 10px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}